# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
- main

pool:
  vmImage: ubuntu-latest

steps:

- script: |
    sudo apt-get update
    sudo apt-get install -y npm
  displayName: 'npm install using apt'

- script: |
    npm audit || true
  displayName: 'check vulneribilities'

- script: |
    sonar-scanner ./ || true
  displayName: 'Review code'

- script: |
    npm test || true
  displayName: 'Run unit test cases'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'
  
- script: |
   sudo apt-get install wget apt-transport-https gnupg lsb-release
   wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
   echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
   sudo apt-get update
   sudo apt-get install trivy
  displayName: 'Install trivy'

- script: |
   trivy config Dockerfile
  displayName: 'Scan the docker file for security'

- script: |
   BASE_IMAGE=`grep FROM Dockerfile | awk '{print $2}'`
   trivy image $BASE_IMAGE 
  displayName: 'Scanning the base image'

- script: |
   trivy config k8s
  displayName: 'Scanning kuberenetes manifest'

- script: |
   docker build -t coitlearningdemo/frontendapp:1.0.2 .
  displayName: 'Build the container image'







